<div class="navbar-outer">
    <div class="container">
        <div class="navbar ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-md-6 col-6 logo"><a href="{{ url_for('landing') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a></div>
          <div id="navbar" class="nav col-md-6 col-6 collapse navbar-collapse f-right">
            <div  class="">
              <ul class="nav navbar-nav">
                <li><a {% if location == "home" %}class="active"{% endif %} href="{{ url_for('landing') }}">ARC Home</a></li>
                <li><a {% if location == "playground" %}class="active"{% endif %} href="{{ url_for('playground') }}">Playground</a></li>
                {% if current_user.is_authenticated %}
                <li><a {% if location == "editor" %}class="active"{% endif %} href="{{ url_for('editor') }}">Task editor</a></li>
                <li><a {% if location == "logout" %}class="active"{% endif %} href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a id="editor" {% if location == "editor" %} class="active"{% endif %} href="#" data-bs-toggle="modal" data-bs-target="#RegisterLogin">Task editor</a></li>
                {% endif %}
              </ul>

            </div>
            <div class="modal fade" id="RegisterLogin" tabindex="-1" aria-labelledby="RegisterLoginLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                 
                  <div class="modal-body">
                    <div class="tab-content">
                      <div class="login-register-popup-wrapper">
                        <div class="login-register-popup-left">
                        
                          <div class="form">
                            <div class="title" id="registrationform">Register <p>Create account</p></div>
                            <p id="registration_error"></p>
                            <form action="" method="POST" id="register_post">
                              <div class="form_input">
                                
                                <input id="register_email" name="register_email" type="text" placeholder="Email" class="textbox" value="{{email}}"/>
                              </div>
                              <div class="form_input">
                               
                                <input id="register_password" name="register_password" type="password" placeholder="Password" class="textbox"/><br>
                              </div>
                              <div class="form_input">
                               
                                <input id="register_confirm_password" name="register_confirm_password" type="password" placeholder="Confirm Password" class="textbox"/><br>
                              </div>
                              <button>Create account</button>
                            </form>
                          </div>
                        </div>
                        <div class="login-register-popup-right">
                          
                          <div class="form">
                            <div class="title">Welcome Back <p>Enter your credentials to access your account</p></div>
                            <p id="login_error"></p>
                            <form action="" method="POST" id="login_post">
                              <div class="form_input">
                              
                                <input id="login_email" name="login_email" type="text" value="{{email}}" class="textbox" placeholder="Email"/>
                              </div>
                              <div class="form_input">
                               
                                <input id="login_password" name="login_password" type="password" class="textbox" placeholder="Password"/>
                              </div>
                              <div class="form_input">
                               
                                <span><a href="{{ url_for('reset_request') }}">Forgot Password?</a></span>
                              </div>
                              <button type="submit" id="login_button">Sign In</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/login_ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/register_ajax.js') }}"></script>